UBF_VERSION=1.0.0
TZ=Europe/Warsaw
LOG_LEVEL=INFO
DISCORD_WEBHOOK=
# NOTIFY_LEVEL: 0 = tylko błędy, 1 = wszystko (start + sukces + błędy)
NOTIFY_LEVEL=0
UBF_DATA_VOL1=/volume2/TEST1
UBF_DATA_VOL2=/volume3/TEST2
